.race{
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    --hPad: 15px;
    padding: 8px var(--hPad);
    gap: var(--hPad);
    cursor: pointer;
    user-select: none;
}
.race-flag{
    width: 64px;
    height: 40px;
    object-fit: fill;
    border-radius: 5px;
}
.race-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 var(--hPad);
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    --vPad: 5px;
    gap: var(--vPad);
}
.race-content-date{
    display: flex;
    gap: 8px;
    padding-bottom: var(--vPad);
    border-bottom: 1px solid #222;
    & > .date-day{
        font-size: 20px;
        font-family: f1-bold;
    }
    & > .date-month{
        font-family: f1-wide;
        padding: 3px 8px;
        width: fit-content;
        background-color: #28283a;
        border-radius: 5px;
    }
}
.race-content-location{
    display: flex;
    flex-direction: column;
    gap: 3px;
    & > .location-country{
        font-size: 18px;
        font-family: f1;
    }
    & > .location-circuit{
        color: #aaa;
        font-family: titillium-web;
    }
}
.arrow{
    height: 64px;
    width: auto;
    color: #d00;
    rotate: -90deg;
    transition: translate 0.3s, filter 0.5s;
}
.race:hover > .arrow{
    translate: 8px;
    filter: drop-shadow(0 -10px #d008);
}

@media (width < 650px) {
    .arrow{
        display: none;
    }
    .race-content{
        padding: 0;
        padding-left: var(--hPad);
        border-right: none;
    }
}